/* totally didn't just glue together two configs I found that I liked */
@define-color foreground #bfbfc0;
@define-color background #010103;
@define-color cursor #bfbfc0;

@define-color color0 #010103;
@define-color color1 #147381;
@define-color color2 #4e7678;
@define-color color3 #586f88;
@define-color color4 #697387;
@define-color color5 #7c7885;
@define-color color6 #a78487;
@define-color color7 #808081;
@define-color color8 #404042;
@define-color color9 #1B9AAD;
@define-color color10 #699EA1;
@define-color color11 #7695B6;
@define-color color12 #8C9AB4;
@define-color color13 #A6A1B2;
@define-color color14 #DFB1B5;
@define-color color15 #bfbfc0;

* {
    font-family: Iosevka;
    font-size: 14px;
    transition: none;
    border: none;
    box-shadow: none;
    background: none;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: @foreground;
    /*transition-property: background-color;
    transition-duration: 0.5s; */ 
}

window#waybar.hidden {
    opacity: 0.1;
}

#window {
    color: @foreground;
    background-color: @background;
}


#clock,
#wireplumber,
#custom-exit,
#custom-diskfree,
#custom-logo,
#custom-exit,
#cpu,
#memory,
#tray,
#network,
#workspaces,
#custom-kernel,
#custom-theme {
    color: @foreground;
    padding: 2px 8px;
    background-color: @background;
    border-radius: 8px;
    margin: 0 3px 0;
}

#custom-logo {
  color: #1793d1;
}

#custom-kernel {
    font-weight: bold;
    /* color: #ff6c6b; */
    color: @color10;
}
#custom-exit {
    color: @color7;
    font-weight: bold;
}

#cpu, #memory, #custom-diskfree {
    color: @color11;
    font-weight: bold;
}

#workspaces button {
    color: @color11;
    margin-right: 0em;
    padding-right: 1rem;
    box-shadow: inset 0 -3px transparent;
    /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}

/*#workspaces button.active {*/
#workspaces button:hover {
    background: none;
    box-shadow: none;
    /*border: none;*/
    text-shadow: none;
    /* color: @color9; */
    color: #1793d1;
    font-weight: bold;
    margin-right: 0em;
    /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}

/*#workspaces button.hover {*/
#workspaces button.active {
    background: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    text-shadow: none;
    background-color: #1793d1;
    color: @background;
}

/* If workspaces is the leftmot module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/*#pulseaudio,
#network {
    font-weight: bold;
    background-color: @background;
    color: #98be65;
    padding: 0 12px;
    margin: 6px 0 0;
}*/

#network {
    /* color: @color13; */
    font-weight: bold;
    color: #98be65;
    padding-right: 14px;
    border-right: none;
    border-left: none;
}

#network.disconnected {
    font-weight: bold;
    color: red;
}

#backlight {
    margin-right: 3px;
    padding-right: 8px;
    color: @color13;
    border-radius: 0 8px 8px 0;
    border-left: none;
}

#clock, #wireplumber, #custom-exit {
    color: @color12;
    font-weight: bold;
}

tooltip {
    border-radius: 15px;
    padding: 15px;
    background-color: @background;
    color: @foreground;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 5px;
    color: @foreground;
}

label:focus {
    background-color: @background;
}
